@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-jost: 'Jost', sans-serif;

  --color-dark-900: #000000;
  --color-dark-700: #8D8D8D;
  --color-dark-500: #F5F5F5;

  --color-light-100: #ffffff;
  --color-light-200: #F5F5F5;
  --color-light-300: #E5E5E5;
  --color-light-400: #CCCCCC;

  --color-green: #007d48;
  --color-red: #d33918;
  --color-orange: #d37918;
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-16 py-8;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-16 pt-8;
  }

  .padding-b {
    @apply sm:pb-16 pb-8;
  }

  .max-container {
    @apply max-w-[1440px] mx-auto;
  }
}


